*{
    margin:0;
    padding: 0;
}

body {
    background:#FFFFFA;
}

/*Header*/

header {
  width: 100%;
  height: 600px;
  background: #0575E6;  
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(227, 97%, 24%, 0.5), hsla(210, 96%, 46%, 0.5)), 
  url(../media/img-header.jpg); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

header .textos-header {
    color:white;
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo{
    width: 30%;
    margin-top:5px;
    display: flex;
    justify-content: center;
   
}

.logo h2{
    color:white;
}

header nav {
    width: 100%;
    height: 60px;
    display: flex;
    margin:0px auto;
    padding-right:100px;
    background:transparent;
   
}

#menu-bar{
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    float: right;
    width: 70%;
    height: 60px;
  
}

header nav ul li {
    float: right;
}

header nav ul li a {
    color:#fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}

@media screen and (max-width:800px) {
    
    header nav {
        background:  #0575E6;
        width: 80%;
        height: 100%;
        left:-100%;
        margin: 75px 0 0 0;
        padding-right:0px;
        position: fixed;
        z-index:30;
    }

    header nav ul {   
        width: 100%;
        height: 100%;  
        padding-left: 0; 
    }
   
    .logo {
        display:none;
        width: 0;
    }

    header nav ul li {
        display:block;   
        float: none;
        width: 100%;
        border-bottom: 1px solid rgb(255,255,255, 0.3);
    }
    #menu-bar{
        display: block;
    }
    .menu-bar {
        display:block;
        width: 100%;
        background:#0575E6;
       }

    .menu-bar .bt-menu {
        display: block;
        padding: 20px;
        background: #0575E6;
        color:white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: fixed;
        top:0;
        width: 100%;
        z-index:30;
    }

    .menu-bar i{
        float:right;
    }

}
/*Header Fin*/

/*body*/

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

.titulo {
    color:#0575E6;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*Sobre MI*/
.sobreMi{
    padding: 0 0 100px 0 !important;
}
.contenedor-sobreMi{
    display:flex;
    justify-content: space-evenly;
}
 
 .contenido-textos-sobreMi {
     width: 60%;
     display: flex;
     align-items: center;
     margin-top:40px;
 }


 .contenido-textos-sobreMi p{
     padding: 0 0 30px 15px;
     font-weight: 300;
     font-size: 21px;
     text-align: center;
 }

 .boton-sobreMi{
     margin:auto;
     width: 20%;
 }

 #boton1-sobreMi{
    width: 100% !important;
 }
 

 

 @media screen and (max-width:868px){
    .contenedor-sobreMi{
        display:flex;
        flex-direction: column;
    }
    .contenido-textos-sobreMi {
        width: 80%;
        margin-left:10%;
        margin-top:-40px;
        }
        .img-sobreMi {
            width: 80%;
            margin-left:10%
            }

        .sobreMi{
        padding: 0 !important;
        }

        .boton-sobreMi{
            width: 50%;
            margin-bottom: 30px;
            margin-top:-20px;
        }
    }

 /*Estudios y certificados*/

 .portafolio{
    background: #0575E6;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79,#0575E6); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     padding: 0px 0 100px 0;
  }

  .portafolio h2 {
      color:white;
  }

 .galeria-port {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .imagen-port {
     width: 45%;
     height: 350px;
     margin-bottom: 10px;
     overflow: hidden;
     position: relative;
     cursor: pointer;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
 }

 .imagen-port > img {
     width: 100%;
     height: 100%;   
 }

 .hover-galeria {
     position: absolute;
     width: 100%;
     height: 100%;
     top:0;
     transform: scale(0);
     background:rgb(0, 0, 0, 0.8);
     transition: transform .5s;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .hover-galeria img{
     width: 50px;
 }

 .hover-galeria p, h5 {
     color:#fff;
 }

 .imagen-port:hover .hover-galeria{
     transform: scale(1);
 }

 .boton-certificado{
    display: block;
    width: 15%;
    padding: 10px 0;
    margin: 20px auto 0px auto;
    border: solid white 1px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color:#fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79,#0575E6); 
 }

 @media screen and (max-width:868px){
    .imagen-port {
        width: 80%;
        margin-bottom: 30px;      
    }

    .hover-galeria{
        transform: scale(1);
    }
    .boton-certificado{
        width: 50%;
    }
}

 /*Proyectos*/
 
  .Empresas{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79,#0575E6); 
    padding: 80px 0px 40px 0;
   }
   
   .Empresas h2 {
     color:white;
    }
 .contenedor-blog {
    display: flex;
    justify-content: space-evenly;
 }

 

.blog-post {
    width: 95%;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    border-radius: 5px;
}

.blog-post-contenido{
    height: 190px;    
}

.blog-post-img {
    width: 60%;
    height: 20rem;
    position: relative;
}

.blog-post-img img {
    width: 100%;
    height: 70%;
    background-size: cover;
    display: block;
    border-radius: .8rem;
    z-index: 20;
}

.blog-post-img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   background: rgba(0, 0, 0, 0.4)
}

.subtitulo-Img{
    position: absolute;
    bottom:70px;
    width: 100%;
    text-align: center;
    color:white;
}

.blog-post-date span {
    display: block;
    color:black;
    font-size: 18px;
    font-weight: 600;
    margin:.5rem 0;
    line-height: 15px;
}

.blog-post-info {
    width: 100%;
    height: 300px;
    padding: 0px 15px;
}


.blog-post-title {
    font-size: 25px;
    text-transform: uppercase;
    color:#4facfe;
}

.blog-post-text {
    font-size: 16px;
    color:black;
}

.blog-post-cta {
    display:inline-block;
    padding: 15px;
    margin: 0 auto 0px auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color:#fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79,#0575E6); 
    
    }
  
    .blog-post-cta:hover{
        background: #0575E6;      
        background: -webkit-linear-gradient(to right, #0575E6, #021B79);     
        background: linear-gradient(to right, #0575E6, #021B79);     
        color:#fff;
     }

     .boton-proyectos-cta{
        display: block;
        width: 15%;
        padding: 10px 0;
        margin: 20px auto 0px auto;
        border: solid white 1px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        color:#0575E6;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        background: white;   
     }
     
    @media screen and (max-width:1068px){
        .blog-post{
            max-width: 80rem;
        }
        .blog-post-img {
            min-width: 30rem;
            max-width: 30rem;
        }
        .boton-proyectos-cta{
            width: 50%;
        }
    }

    @media screen and (max-width:868px){
        .blog-post{
            padding: 2.5rem;
            flex-direction: column;
        }
        .blog-post-img {
            min-width: 100%;
            max-width: 100%;
            transform: translate(0, 0);
        }
    }
    
    /*Carousel*/
     
    .carousel{
        width: 90%;    
        margin:auto;     
    }

    .carousel__contenedor{
        position: relative;
       
    }

    
    .carousel__anterior ,
    .carousel__siguiente {
       
        display:block;
        width:30px;
        height: 30px;
        border:none;
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        background:none;
        color:white;
        opacity: 20%;
    }

    .carousel__anterior{
        position: absolute;
        top:50%;
        left:-30px;

    }

    .carousel__siguiente {
        position: absolute;
        bottom:50%;
        right:-30px;
    }

    .carousel__lista{
        overflow: hidden;
    }

    
 /*Servicios*/

 .servicios{
     padding: 50px;
 }

.container-servicios .card-servicios .face {
    width: 40vw;
    height: 230px;
    transition: 0.5;
}

.container-servicios .card-servicios .face.face1{
    position: relative;
    background: #0575E6;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79,#0575E6); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    transition: 0.6s;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;    
}

.container-servicios .card-servicios:hover .face.face1 {
    background: #0575E6;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #021B79);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #021B79); 
    transform: translateY(0);
}


.container-servicios .card-servicios:hover 
.face.face1 .contenido-servicios{
    opacity: 1;
}
.container-servicios .card-servicios 
.face.face1 .contenido-servicios img{
    max-width: 100px;
}

.container-servicios .card-servicios 
.face.face1 .contenido-servicios h3{
margin: 0px 0 ;
padding: 0;
color: #fff;
text-align: center;
font-size: 1em;
}

.container-servicios .card-servicios
 .face.face2 .contenido-servicios p {
    text-align: left;
    font-size: 16px;
    font-family: 'adam-cg';
    padding: 0 30px !important;
}

.container-servicios 
.card-servicios .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
    transform: translateY(-100px);
    transition: 0.6s;
    border-radius: 5px;
}

.container-servicios 
.card-servicios:hover .face.face2 {
    transform: translateY(0);
}

.container-servicios .card-servicios 
.face.face2 .contenido-servicios p {
    margin: 0;
    padding: 0;
}
 

 .servicio-cont{
     margin-top:-120px;
     display: flex;
     justify-content: space-evenly;
 }

 .contenido-servicios-img{
     display: flex;
     justify-content: center;
 }

 @media screen and (max-width:868px){
    .servicio-cont{
        display: block;
        margin-top:40px;
    }

    .container-servicios .card-servicios .face {
        width: 80vw;
    }

    .container-servicios .card-servicios .face.face1{
        transform: translateY(0px);       
    }

    .container-servicios 
    .card-servicios .face.face2{
    transform: translateY(0px);
    margin-bottom: 35px;
}

}


/*footer*/

footer {
    background: #0575E6;  
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79,#0575E6); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px;
}

.contenedor-footer {
    display: flex;
     justify-content: space-evenly;
     color:white;
}

.titulo-final {
    text-align: center;
    color:white;
}

.content-foo{
    text-align:center;
}

@media screen and (max-width:868px){
    .contenedor-footer {
        display: block;
    }
}    